.container {
  background: #edf6f9;
  border: 1px solid #edf6f9;
  font-family: 'Montserrat', Helvetica, sans-serif;
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  gap: 20px;
  list-style-type: none;
  padding: 80px 80px;
  justify-items: center;
}

.article {
  background: #edf6f9;
  border: 2px dashed #edf6f9;
  padding: 10px;
  box-sizing: border-box;
  width:50%;
}

@media screen and (min-width: 200px) {
  .article {
    width:100%;
  }
}

@media screen and (min-width: 800px) {
  .article {
    width:70%;
  }
}

@media screen and (min-width: 1100px) {
  .article {
    width:50%;
  }
}

@media screen and (min-width: 1400px) {
  .article {
    width:40%;
  }
}


