.container {
  background:#edf6f9;
  border: 1px solid #edf6f9;
  display: grid;
  grid-template-columns: auto;
  align-items: center;
  gap: 20px;
  font-family: 'Montserrat', Helvetica, sans-serif;
  list-style-type: none;
  padding: 100px 80px;
  justify-items: center;
}

.content {

  padding: 10px;
}

.success {
  text-align: center;
}

b {
  font-size: 1.3em;
}
