.container {
  background:#edf6f9;
  border: 1px solid #edf6f9;
  align-items: center;
  gap: 20px;
  display:flex;
  flex-direction: column;
  font-family: 'Montserrat', Helvetica, sans-serif;
  list-style-type: none;
  padding: 0 80px;
  justify-items: center;
  height:100%;
}

.content {

  padding: 10px;
}

.success {
  text-align: center;
}

b {
  font-size: 1.3em;
}
